html {
    font-size: 17px; /* px means 'pixels': the base font size is now 10 pixels high  */
    font-family: 'Montserrat', sans-serif; /* this should be the rest of the output you got from Google fonts */
    line-height: normal;
    letter-spacing: normal;
    background-color: grey;
}
body {
    width: 800px;
    margin: 0 auto;
    background-color: whitesmoke;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
    
}
h1 {
    font-size: 40px;
    font-family: 'Merriweather', serif;
    text-align: center;
    text-shadow: on;
}
ul {
    font-size: 15px;        
}
 img {
    display: block;
    width: 800px;
    margin: 0 auto;
} 
h1 {
    margin: auto;
    padding: 20px 0;
    color: darkgrey;
    text-shadow: 2px 2px 1px black;
    text-decoration-style: solid;
    
}